:root {
  --background_color_one: #E5E5E5;
  --background_color_two: #FFFFFF;
  --background_color_three: #0a58ca;
  --border_color_one: #0a53be;
  --border_color_two: #57CCF3;
  --text_color_one: #2a0079;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background_color_one);
  margin: 0 auto;
}

div.visited-node-text {
  margin-left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  /* identical to box height */
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  width: 100%;
  /* max-width: 90rem; */
  background-color: var(--background_color_two);
  margin: 0 auto;
  min-height: 45rem;
}

.header {
  min-height: 3.4rem;
  padding: 8px;
}

.inner {
  width: 100%;
  /* max-width: 73.125rem; */
  margin: 0 auto;
  height: inherit;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  margin: initial;
  flex-direction: row;
}

.desc-icon-container {
  display: flex;
  margin-top: 16px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 25%;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-item {
  margin-left: 8px;
}

.app-icon img {
  width: 24px;
}

.app-name {
  max-width: 8rem;
}

/* .app-name>span {
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--text_color_one);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

span#app-name {
  font-weight: medium;
  color: var(--text_color_one);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  min-width: 65%;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: none;
  padding: 0px;
  min-width: 10%;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 81px;
}

.dropdown-name span {
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: var(--text_color_one);
}

.settings-nav {
  margin-left: -6px;
}

.dropdown-icon {
  padding-top: 8px;
}

.dropdown-icon img {
  width: 25px;
  height: 15px;
}

/* .settings-icon {
  margin-left: 40px;
  padding-top: 4px;
} */

.settings-icon img {
  width: 35px;
  height: 24px;
}

.separator {
  background-color: var(--background_color_one);
  min-height: 8px;
  ;
}

.node-section {
  margin-left: 32px;
  min-width: 10%;
  margin-top:32px;
}

.node-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: inherit;
  margin-top: 20px;
}

.node-text {
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  /* identical to box height */
  color: #000000;
}

.vertical-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-section {
  max-width: 90%;
}

.button-section {
  min-width: 5%;
}

.btn-visualize-container {
  margin-left: 0px;
}

.btn-visualize {
  color: #fff;
  background-color: var(--background_color_three);
  border-color: var(--border_color_one);
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 1.3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

td.grid-cell {
  border: 1px solid;
  border-color: var(--border_color_two);
  width: 25px;
  height: 25px;
}

tr.grid-row {
  display: table-row;
  vertical-align: inherit;
  border: 1px solid #5bc9b1;
}

table {
  max-width: inherit;
  z-index: -1;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
}

.result {
  margin-left: 16px;
}

.node_start {
  background: url("../assets/images/start-node.svg");
  /* background: url("../assets/images/right-arrow.svg"); */
  background-size: cover;
}

.start-node img {
  height: 22px;
  width: 22px;
}

.node_end {
  background: url("../assets/images/target-node.svg");
  /* background: url("../assets/images/circle-target.svg"); */
  background-size: cover;
}

.node_wall {
  /* background: url("../assets/asteroid.svg"); */
  animation: pulse 0.5s 1;
  background-color: #202220;
  border: 1px solid #202220;
}