:root {
  --background_color_one: #E5E5E5;
  --background_color_two: #FFFFFF;
  --text_color_one: #2a0079;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background_color_one);
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 90rem;
  background-color: var(--background_color_two);
  margin: 0 auto;
  min-height: 45rem;
}

.header {
  min-height: 3.4rem;
  padding: 8px;
}

.inner {
  width: 100%;
  max-width: 73.125rem;
  margin: 0 auto;
  height: inherit;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: initial;
  flex-direction: row;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 25%;
}
.empty-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-item {
  margin-left: 8px;
}

.app-icon img {
  width: 24px;
}

.app-name {
  max-width: 8rem;
}

.app-name>span {
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--text_color_one);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span#app-name {
  font-weight: medium;
  color: var(--text_color_one);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-width: 65%;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: none;
  padding: 0px;
  min-width: 10%;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 81px;
}

.dropdown-name span {
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: var(--text_color_one);
}

.settings-nav {
  margin-left: -6px;
}

.dropdown-icon {
  padding-top: 8px;
}

.dropdown-icon img {
  width: 25px;
  height: 15px;
}

/* .settings-icon {
  margin-left: 40px;
  padding-top: 4px;
} */
.settings-icon img {
  width: 35px;
  height: 24px;
}

.separator {
  background-color: var(--background_color_one);
  min-height: 8px;;
}